@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
* {
    margin: 0;
}

.margin {
    margin: 0 150px;
}

.orange-color {
    color: #E95A08;
}

.disply-flex {
    display: flex;
}

.menu-color {
    color: #8987A1;
}

.active {
    color: black;
    font-weight: 600;
}

.shaded-color {
    color: rgba(0, 0, 0, 0.5);
}

.border-radius {
    border-radius: 22px;
}

/* navbar style starts here */
nav {
    justify-content: space-between;
    align-items: center;
    margin-top: calc(30rem /16);
}

.menubar {
    justify-content: space-between;
    align-items: center;
    gap: calc(48rem/16);

}

.menubar ul {
    gap: calc(48rem/16);
}

.menubar li {
    list-style: none;

}

.cart a {
    text-decoration: none;
    color: #000000;

}

.cart a i {
    padding: calc(5rem / 16);
}

/* banner section starts here */
.banner {
    margin-top: calc(120rem / 16);
    justify-content: space-between;
    align-items: center;
}

.banner-design {
    width: 50%;
}

.banner-title {
    font-size: 65px;
}

.banner-description {

    font-size: 22px;
}

/* plant section starts here */
.plant-details {
    text-align: center;
}

.plant-details p {
    max-width: 800px;
    font-size: 22px;
    margin: 10px auto;
    margin-bottom: 50px;
}

.plant-title {
    color: #000000;
    margin: 50px;
}

.plant-description {
    text-align: center;
}

.plant-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    max-width: 270px;
    text-align: center;
}

.plant-name {
    font-weight: 500;
}

.price {
    font-weight: bold;

}



.card img {
    width: 100%;
}

.card-button {
    width: 100%;
    padding: 19px 80px;
    border: none;
    background-color: #E95A08;
    color: #ffffff;
    font-weight: 600;
}

/* plants lover section is here */
.plant-lover {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;

}

.title {
    font-size: 50px;
    font-weight: bold;
    width: 90%;

}

.title h1 {
    margin-top: 0;

}



.badge {
    position: absolute;
    top: -85px;
    right: 540px;
}

.badge img {
    max-width: 286px;
    max-height: 286px;

}

.lover-description ul {
    font-size: 22px;
    padding-left: 30px;

}

.lover-description ul li {
    max-width: 540px;
    max-height: 108px;
    margin-bottom: 30px;
    margin-top: 20px;

}

/* deals part starts here */
.latest-deals {
    text-align: center;
}

.deals-title {
    font-size: 50px;
}

.deals-description {
    max-width: 800px;
    margin: 16px auto;
    font-size: 22px;
    margin-bottom: 50px;
}




.deals-offer {
    display: grid;
    grid-template-columns: repeat(1, 1fr) 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.bloom-plant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("assets/deal-bloom.png");
    ;
    background-position: center;
    background-repeat: no-repeat;
    height: 206px;
    background-size: cover;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloom,
.ana {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

.bloom-plant a,
.ana-plant a {
    color: #FFFFFF;
    font-weight: 600;
}

.ana-plant {
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url("assets/deal-ana.png");
    background-position: center;
    height: 206px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.zabo-plant {
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url("assets/deal-zabo.png");
    background-position: center;
    background-repeat: no-repeat;
    grid-row: span 2;
    background-size: cover;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 206px;

}

.plant {
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
}

.zabo-plant a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 28px;
}

/* join section starts here */
.join {
    max-width: 100%;
    height: 500px;
    margin: 120px 0;
    background-image: linear-gradient(rgba(7, 51, 79, 0.4)), url("assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;

}

.join h1 {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

.email-section {
    display: flex;
}

.join input[type="email"] {
    width: 500px;
    height: 50px;
    margin-left: 0;
    padding: 0 20px;
    border: none;
}

.email-section button {
    border: none;
    background-color: #E95A08;
    color: #ffffff;
    width: 186px;
    font-weight: bold;
    font-size: 16px;

}

/* footer section starts here */
footer {
    justify-content: space-between;
    padding-bottom: 50px;


}

.footer-menu ul {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

footer li {
    list-style: none;
}

.footer-feature ul {
    flex-direction: column;
    gap: 30px;
}

.footer-icon {
    gap: 30px;
    justify-content: center;
    align-items: center;

}



.footer-para {
    width: 50%;
    margin-top: 20px;
}

@media screen and (min-width:993px) and (max-width:1500px) {
    .menubar {
        justify-content: space-between;
    }

    .menubar ul {
        display: none;
    }

    .card-button {
        padding: 19px 30px;
    }

    /* plants lover section starts here */
    .plant-lover {

        margin-top: 50px;
    }

    .title {
        width: 100%;
        font-size: 24px;
    }

    .lover-image img {
        width: 100%;
    }

    .badge {
        display: none;
    }

    .lover-description ul {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .lover-description ul li {
        margin-bottom: 30px;
    }
}



@media screen and (min-width:768px) and (max-width: 992px) {


    .margin {
        margin: 0;
    }

    .menubar {
        justify-content: space-between;
    }

    .menubar ul {
        display: none;
    }

    /* banner responsive design */
    .banner {
        flex-direction: column-reverse;
        margin: 0 auto;
        width: 70%;
    }

    .banner-design {
        width: 100%;
    }

    .banner-title {
        font-size: 24px;
        width: 40%;
    }

    .banner-description {
        width: 100%;
    }

    .banner-image img {
        width: 100%;
    }

    /* plant card starts here */
    .plant-card {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .card-button {
        padding: 19px 30px;
    }

    /* plants lover section starts here */
    .plant-lover {
        flex-direction: column;
        margin-top: 50px;
    }

    .title {
        width: 100%;
        font-size: 24px;
    }

    .lover-image {
        margin: 50px auto;
    }

    .lover-image img {
        width: 100%;
    }

    .badge {
        display: none;
    }

    .lover-description {
        margin: 50px auto;
    }

    .lover-description ul {
        font-size: 22px;
        margin-bottom: 10px;

    }

    .lover-description ul li {
        margin-bottom: 30px;

    }

    /* plant lover section */
    .deals-offer {
        grid-template-columns: repeat(1, 1fr);
    }

    .zabo-plant {
        order: 1;

    }

    .bloom,
    .ana,
    .plant {
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
    }

    .bloom-plant a,
    .ana-plant a,
    .zabo-plant a {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
    }

    /* join section */
    .join h1 {
        font-size: 20px;

    }

    .join input[type="email"] {
        width: 200px;

    }

    .email-section button {
        width: 100px;
    }

    footer {
        flex-direction: column;
        margin-left: 20px;
    }

    .footer-menu {
        margin-bottom: 20px;
    }

    .logo {
        margin-left: 40px;
    }

    .footer-icon {
        margin-top: 20px;
        justify-content: flex-start;
        margin-left: 40px;
    }
}




@media screen and (min-width:577px) and (max-width:767px) {
    .margin {
        margin: 0;
    }

    .menubar {
        justify-content: space-between;
    }

    .menubar ul {
        display: none;
    }

    /* banner responsive design */
    .banner {
        flex-direction: column-reverse;
    }

    .banner-design {
        width: 100%;
    }

    .banner-title {
        font-size: 24px;
        width: 40%;
    }

    .banner-description {
        width: 100%;
    }

    .banner-image img {
        width: 100%;
    }

    /* plant section starts here */
    .plant-card {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .card-button {
        padding: 19px 30px;
    }

    /* plants lover section starts here */
    .plant-lover {
        flex-direction: column;
        margin-top: 50px;
    }

    .title {
        width: 100%;
        font-size: 24px;
    }

    .lover-image {
        margin: 0 auto;
    }

    .lover-image img {
        width: 100%;
    }

    .badge {
        display: none;
    }

    .lover-description ul {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .lover-description ul li {
        margin-bottom: 30px;
    }

    /* plant lover section */
    .deals-offer {
        grid-template-columns: repeat(1, 1fr);
    }

    .zabo-plant {
        order: 1;

    }

    .bloom,
    .ana,
    .plant {
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
    }

    .bloom-plant a,
    .ana-plant a,
    .zabo-plant a {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
    }

    /* join section */
    .join h1 {
        font-size: 20px;

    }

    .join input[type="email"] {
        width: 200px;

    }

    .email-section button {
        width: 100px;
    }

    /* join section */
    .join h1 {
        font-size: 20px;

    }

    .join input[type="email"] {
        width: 200px;

    }

    .email-section button {
        width: 100px;
    }

    footer {
        flex-direction: column;
        margin-left: 20px;
    }

    .footer-menu {
        margin-bottom: 20px;
    }

    .logo {
        margin-left: 40px;
    }

    .footer-icon {
        margin-top: 20px;
        justify-content: flex-start;
        margin-left: 40px;
    }
}

@media screen and (max-width:576px) {
    .margin {
        margin: 0;
    }

    .menubar {
        justify-content: space-between;
    }

    .menubar ul {
        display: none;
    }

    /* banner responsive design */
    .banner {
        flex-direction: column-reverse;
        width: 100%;
    }

    .banner-design {
        width: 100%;
    }

    .banner-title {
        font-size: 24px;
        width: 60%;
    }

    .banner-description {
        width: 100%;
    }

    .banner-image img {
        width: 100%;
    }

    /* plant-card starts here */
    .plant-card {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .card-button {
        padding: 19px 30px;
    }

    /* plants lover section starts here */
    .plant-lover {
        flex-direction: column;
        margin-top: 50px;


    }

    .title {
        width: 100%;
        font-size: 24px;
    }



    .lover-image img {
        width: 100%;
    }

    .badge {
        display: none;
    }

    .lover-description ul {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .lover-description ul li {
        margin-bottom: 30px;
    }

    /* plant lover section */
    .deals-offer {
        grid-template-columns: repeat(1, 1fr);
    }

    .zabo-plant {
        order: 1;
    }

    .bloom,
    .ana,
    .plant {
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
    }

    .bloom-plant a,
    .ana-plant a,
    .zabo-plant a {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
    }

    /* join section */
    .join h1 {
        font-size: 20px;

    }

    .join input[type="email"] {
        width: 200px;

    }

    .email-section button {
        width: 100px;
    }

    footer {
        flex-direction: column;
        margin-left: 20px;
    }

    .footer-menu {
        margin-bottom: 20px;
    }

    .logo {
        margin-left: 40px;
    }

    .footer-icon {
        margin-top: 20px;
        justify-content: flex-start;
        margin-left: 40px;
    }
}